@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700;800&display=swap');

.qms {
    font-family: 'Lato', sans-serif;
  }

.text-qms {
  font-family: 'Inter', sans-serif;
}

.div-tryit{
    width: 1200px;
    height: 500px;
    top: 40%; /* устанавливаем отступ сверху на 50% от высоты страницы */
    left: 50%; /* устанавливаем отступ слева на 50% от ширины страницы */
    transform: translate(-50%, -50%); /* используем трансформацию для точного центрирования блока */
}