@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&family=Lato&display=swap');

.control-header {
    font-family: 'Lato', sans-serif;
}

.controls{
  gap: 2.75rem;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media(max-width: 900px){
  .controls{
    gap: 1.5rem;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}